h3.portion{
    clear:both;
    font-size:18px;
    line-height:38px;
    padding-top:10px;
}
.div1{
    float:left;
    background-color:#FCFCFC;
}
div.address{
    border:1px solid lightgrey;
    padding:10px;
    margin-bottom:80px;
    margin-top:20px;
    line-height:23px;
    width:300px;
}
div.address a:hover{
    color:lightblue;
}
form.text_box{
    width:600px;
    margin:25px 0px 0px 30px;
    height:250px;
}
form.div1 input{
    height:28px;
    width:599px;
    background-color:white;
    border:1px solid lightgrey;
}
form.div1 textarea{
    background-color:white;
    width:595px;
    border:1px solid lightgrey;
}
form.div1 button{
    margin:20px 10px;
    color:white;
    background-color:#2BA6CB;
    height:40px;
    width:100px;
    border-radius:40px;
    font-weight:bolder;
    font-size:medium;
}